.idea
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/hcao.obo
src/ontology/hcao.owl
semantic.cache
.DS_Store
*~

src/ontology/cell_import.txt
src/ontology/cl_human.owl
src/ontology/output

src/ontology/uberon_human.owl
src/ontology/uberon_human_extended.owl
src/ontology/efo_slim.owl
src/ontology/go_cell_cycle.owl
src/ontology/uberon_import.txt
src/ontology/uberon_with_fma_labels.ttl
src/ontology/reports
src/ontology/fbbi_hcao.owl
src/ontology/fbbi_terms.txt
src/ontology/fma_other.owl
src/ontology/fma_uberon.owl
src/ontology/microscopy*

src/imports/*
